// scss-lint:disable PropertySortOrder, SingleLinePerSelector, Comment, ColorVariable, DeclarationOrder, VendorPrefix, QualifyingElement
/*----TITLE: Main screen styles | AUTHOR: NIMINJIE | UPDATED: 05/30/2015 by NIMINJIE*/
@import 'slider';
@import 'animation';

$blue: #2ca4bf;
$yellow: #f8e71c;
$grey: #d8d8d8;
$red: #d9534f;
$green: #7cc699;
$head-color: #2ca4bf;
$hit-color: #f24b6a;
$compare-nav-color: #2ca4bf;
$compare-nav-color-hover: #258aa1;

@mixin nav-transition {
  transition: background-color .3s, color .3s;
}

/*---RESET---*/ 
// html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, font, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td {    
//   border: 0;
//   margin: 0;
//   padding: 0;
//   outline: 0;
//   font-weight: inherit;
//   font-style: inherit;
//   font-size: 100%;
//   font-family: 'Coda', cursive;
//   vertical-align: baseline;
// }

body {
  font-family: 'Coda', cursive;
  background-color: #ebe7df;
}

/* =GLOBAL
----------------------*/


/* =HEADER
----------------------*/


/* =NAV
----------------------*/


/* =CONTENT
----------------------*/


/* =SIDEBAR
----------------------*/


/* =FOOTER
----------------------*/

.container {
  width: 1000px;
  margin: 0 auto;

  .nav-pills {
    width: 492px;
    margin: 0 auto 20px;
    border: 3px solid #ddd8ce;

    li>a:focus, li>a:hover {
      @include nav-transition;
      color: #fff;
      background-color: $blue;
    }

    li {
      a {
        height: 30px;
        border-radius: 0;
      }

      line-height: 10px;
      height: 30px;
      width: 120px;
      text-align: center;
    }

    li.active>a, li.active>a:focus, li.active>a:hover {
      @include nav-transition;
      color: #fff;
      background-color: $blue;
    }
  }

  nav {
    ul.pager {
      text-align: right;
      width: 252px;
      float: right;
      margin: 0;

      li > input {
        width: 50px;
        height: 30px;
      }

      li > label {
        display: inline-block;
        height: 30px;
        line-height: 30px;
        width: 40px;
        font-weight: 200;
      }

      li > a {
        border-radius: 0;
        border: 0;
        width: 90px;
        background-color: $blue;
        color: #fff;
        text-align: center;
      }

      li > a:hover {
        background-color: $compare-nav-color-hover;
      }
    }
  }

  nav:after {
    content: '.';
    display: block;
    height: 0;
    visibility: hidden;
    clear: both;
  }

  .header {
    text-align: center;
    padding: 100px 0;
    border-bottom: 3px solid;
    color: #000;

    .icon {
      opacity: 0;
      -webkit-animation: show-icon .5s forwards cubic-bezier(.64, 1.87, .64, .64);
    }

    .icon:nth-child(5) {
      -webkit-animation-delay: 1s;
    }

    .icon:nth-child(6) {
      -webkit-animation-delay: 1.2s;
    }

    .icon:nth-child(7) {
      -webkit-animation-delay: 1.4s;
    }

    a {
      text-decoration: none;
      margin: 5px;
      color: #000;
    }

    p {
      opacity: 0;
      margin: 30px;
      font-size: 1.5em;
      -webkit-animation: pop-in .4s .6s forwards cubic-bezier(.64, 1.87, .64, .64);
    }

    h1 {
      opacity: 0;
      font-size: 7em;
      -webkit-animation: pop-in .4s forwards cubic-bezier(.64, 1.87, .64, .64);
    }

    h2 {
      opacity: 0;
      font-size: 2em;
      font-weight: 200;
      -webkit-animation: pop-in .4s .4s forwards cubic-bezier(.64, 1.87, .64, .64);
    }
  }

  .content {
    margin-bottom: 100px;
    margin-top: 100px;
    color: #000;

    h1 {
      margin-bottom: 50px;
      height: 60px;
      line-height: 60px;
      text-align: center;
    }

    h2 {
      font-size: 1.5em;
    }

    h3 {
      font-size: 1.3em;
    }

    .query-label {
      display: inline-block;
      height: 30px;
      line-height: 30px;
      width: 50px;
      font-weight: 200;
    }

    .query-input {
      height: 30px;
    }

    .query-btn {
      width: 90px;
      height: 30px;
      padding: 0;
      border-radius: 0;
    }

    table {
      width: 970px;
      margin: 0 auto 10px;
      border: 3px solid #ddd8ce;
      text-align: center;

      td {
        border: 1px solid #c1c1c1;
        height: 30px;
      }

      thead > tr > th {
        background-color: $blue;
        color: #fff;
        font-weight: 400;
        height: 30px;
        text-align: center;
      }

      tbody > tr {
        background-color: #fff;
      }
    }
  }

  .comparison {
    text-align: center;

    h4 {
      font-size: 2em;
    }
    

    .nav-pills {
      width: 248px;
      margin-top: 30px;

      li>a:focus, li>a:hover {
        background-color: $red;
      }
    }

    nav {
      ul.pager {
        width: 470px;
        margin: 0 auto;
      }

      li {
        input {
          width: 50px;
        }

        padding-left: 5px;
      }
    }

    li > a {
      color: $red;
    }

    li.active>a, li.active>a:focus, li.active>a:hover {
      transition: background-color .3s, color .3s;
      color: #fff;
      background-color: $red;
    }

    label {
      display: inline-block;
      height: 30px;
      line-height: 30px;
      width: 50px;
      font-weight: 200;
    }

    h2 {
      margin-top: 50px;
      font-size: 2em;
      border-bottom: 1px dotted #aaa;
    }

    table {
      width: 470px;

      thead > tr > th {
        background-color: $head-color;
      }

      tbody > tr.hit {
        background-color: $hit-color;
        color: #fff;
      }

      td {
        /* border: 1px solid #C1C1C1; */
        border: 0;
      }
    }

    table.ucf > thead > tr > th {
      background-color: #695d8c;
    }
  }

  .timetag {
    text-align: center;
    width: 970px;

    .result {
      margin: 20px auto;
      width: 970px;

    }
  }

  .dataset {
    /* background-color: #fff; */
  }
}
