// scss-lint:disable PropertySortOrder, SingleLinePerSelector, Comment, ColorVariable, DeclarationOrder, VendorPrefix, QualifyingElement, NestingDepth
/*----TITLE: Main screen styles | AUTHOR: NIMINJIE | UPDATED: 05/30/2015 by NIMINJIE*/
@import 'slider';
@import 'animation';

/* =COLOR
----------------------*/
$white: #fff;
$blue: #2ca4bf;
$yellow: #f8e71c;
$grey: #d8d8d8;
$red: #d9534f;
$green: #7cc699;
$black: #000;

$head-color: #2ca4bf;
$hit-color: #f24b6a;
$compare-nav-color: #2ca4bf;
$compare-nav-color-hover: #258aa1;
$bg-color: #ebe7df;
$box-border-color: #ddd8ce;


/* =FONT
----------------------*/
$font-coda: 'Coda', cursive;


/* =MIXIN
----------------------*/
@mixin nav-transition($color) {
  color: $white;
  background-color: $color;
  transition: background-color .3s, color .3s;
  -ms-transition: background-color .3s, color .3s;
  -moz-transition: background-color .3s, color .3s;
  -o-transition: background-color .3s, color .3s;
  -webkit-transition: background-color .3s, color .3s;
}

/*---RESET---*/ 
// html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, font, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td {    
//   border: 0;
//   margin: 0;
//   padding: 0;
//   outline: 0;
//   font-weight: inherit;
//   font-style: inherit;
//   font-size: 100%;
//   font-family: 'Coda', cursive;
//   vertical-align: baseline;
// }

/* =GLOBAL
----------------------*/
body {
  font-family: $font-coda;
  background-color: $bg-color;
}

.container {
  width: 1000px;
  margin: 0 auto;
}

/* =HEADER
----------------------*/
.header {
  padding: 100px 0;
  border-bottom: 3px solid;
  color: $black;
  text-align: center;
  text-decoration: none;

  .icon {
    opacity: 0;
    -webkit-animation: show-icon .5s forwards cubic-bezier(.64, 1.87, .64, .64);
  }

  .icon:nth-child(5) {
    -webkit-animation-delay: 1s;
  }

  .icon:nth-child(6) {
    -webkit-animation-delay: 1.2s;
  }

  .icon:nth-child(7) {
    -webkit-animation-delay: 1.4s;
  }

  a {
    margin: 5px;
    color: $black;
  }

  p {
    margin: 30px;
    opacity: 0;
    font-size: 1.5em;
    -webkit-animation: pop-in .4s .6s forwards cubic-bezier(.64, 1.87, .64, .64);
  }

  h1 {
    opacity: 0;
    font-size: 7em;
    -webkit-animation: pop-in .4s forwards cubic-bezier(.64, 1.87, .64, .64);
  }

  h2 {
    opacity: 0;
    font-size: 2em;
    font-weight: 200;
    -webkit-animation: pop-in .4s .4s forwards cubic-bezier(.64, 1.87, .64, .64);
  }
}

/* =NAV
----------------------*/
.nav-pills {
  width: 492px;
  margin: 0 auto 20px;
  border: 3px solid $box-border-color;

  li {
    line-height: 10px;
    height: 30px;
    width: 120px;
    text-align: center;

    a {
      height: 30px;
      border-radius: 0;

      &:focus, &:hover {
        @include nav-transition($blue);
      }
    }
  }

  li.active {
    a, a:focus, a:hover {
      @include nav-transition($blue);
    }
  }
}

nav {
  ul.pager {
    width: 252px;
    margin: 0;
    float: right;
    text-align: right;

    li {
      input {
        width: 50px;
        height: 30px;
      }

      label {
        width: 40px;
        height: 30px;
        line-height: 30px;
        font-weight: 200;
        display: inline-block;
      }

      a {
        width: 90px;
        border-radius: 0;
        border: 0;
        color: $white;
        background-color: $blue;
        text-align: center;

        &:hover {
          background-color: $compare-nav-color-hover;
        }

        &:focus {
          background-color: none;
        }
      }
    }
  }

  &:after {
    height: 0;
    display: block;
    visibility: hidden;
    content: '.';
    clear: both;
  }
}

/* =CONTENT
----------------------*/
.content {
  margin: 100px auto;
  color: #000;

  h1 {
    height: 60px;
    line-height: 60px;
    margin-bottom: 50px;
    text-align: center;
  }

  h2 {
    font-size: 1.5em;
  }

  h3 {
    font-size: 1.3em;
  }

  .query-label {
    width: 50px;
    height: 30px;
    line-height: 30px;
    display: inline-block;
    font-weight: 200;
  }

  .query-input {
    height: 30px;
  }

  .query-btn {
    width: 90px;
    height: 30px;
    padding: 0;
    border-radius: 0;
  }

}

table {
  width: 970px;
  margin: 0 auto 10px;
  border: 3px solid $box-border-color;
  text-align: center;

  td {
    height: 30px;
    border: 1px solid #c1c1c1;
  }

  thead > tr > th {
    height: 30px;
    color: $white;
    background-color: $blue;
    font-weight: 400;
    text-align: center;
  }

  tbody > tr {
    background-color: $white;
  }
}

.comparison {
  text-align: center;

  h4 {
    font-size: 2em;
  }

  .nav-pills {
    width: 248px;
    margin-top: 30px;

    li {
      a:focus, a:hover {
        background-color: $red;
      }
    }
  }

  nav {
    ul.pager {
      width: 470px;
      margin: 0 auto;
    }

    li {
      input {
        width: 50px;
      }
      padding-left: 5px;
    }
  }

  li > a {
    color: $red;
  }

  li.active>a, li.active>a:focus, li.active>a:hover {
    transition: background-color .3s, color .3s;
    color: $white;
    background-color: $red;
  }

  label {
    display: inline-block;
    height: 30px;
    line-height: 30px;
    width: 50px;
    font-weight: 200;
  }

  h2 {
    margin-top: 50px;
    font-size: 2em;
    border-bottom: 1px dotted #aaa;
  }

  table {
    width: 470px;

    thead > tr > th {
      background-color: $head-color;
    }

    tbody > tr.hit {
      background-color: $hit-color;
      color: $white;
    }

    td {
      border: 0;
    }
  }

  table.ucf > thead > tr > th {
    background-color: #695d8c;
  }
}

.timetag {
  text-align: center;
  width: 970px;

  .result {
    margin: 20px auto;
    width: 970px;
  }
}

/* =SIDEBAR
----------------------*/


/* =FOOTER
----------------------*/
