body {
  background-color: #ebe7df;
  font-family: 'Coda', cursive;
}

.container {
  width: 1000px;
  margin: 0 auto;

  .header {
    text-align: center;
    padding: 100px 0;
    border-bottom: 3px solid;
    color: #000;

    a {
      text-decoration: none;
      margin: 5px;
      color: #000;
    }

    p {
      margin: 30px;
      font-size: 1.5em;
    }

    h1 {
      font-size: 7em;
    }

    h2 {
      font-size: 2em;
      font-weight: 200;
    }
  }


  .content {
    margin-bottom: 100px;
    margin-top: 100px;
    color: #000;

    h1 {
      /* text-transform: uppercase; */
      margin-bottom: 50px;
      height: 60px;
      line-height: 60px;
      text-align: center;
      font-size: 3em;
      font-weight: 400;
    }
  }

  .timetag {
    text-align: center;
    label {
      display: inline-block;
      height: 30px;
      line-height: 30px;
      width: 50px;
      font-weight: 200;
    }

    #userid-timetag {
      height: 30px;
    }

    #query-timetag {
      width: 90px;
      height: 30px;
      padding: 0;
      border-radius: 0;
    }

    .result {
      margin: 20px auto;
      width: 800px;
      h2 {
        font-size: 1.5em;
      }

      h3 {
        font-size: 1.3em;
      }

      img {
        width: 300px;
      }
    }
  }

  .dataset {
    /* background-color: white; */

    .nav>li>a:focus, .nav>li>a:hover {
      background-color: #2489c5;
      color: white;
    }

    .nav-pills {
      width: 492px;
      margin: 0 auto 20px;
      border: 3px solid #ddd8ce;

      li {
        height: 30px;
        line-height: 10px;
        width: 120px;
        text-align: center;
      }

      li > a {
        border-radius: 0px;
        height: 30px;
      }

      li.active>a, li.active>a:focus, li.active>a:hover {
        color: white;
        background-color: #2489c5;
      }
    }

    table {
      width: 970px;
      margin: 0 auto 10px auto;
      border: 3px solid #ddd8ce;
      text-align: center;

      td {
        border: 1px solid #C1C1C1;
      }

      thead > tr > th {
        background-color: #2489c5;
        color: white;
        font-weight: 400;
        text-align: center;
      }

      tbody > tr {
        background-color: white;
      }
    }

    nav {
      ul.pager {
        text-align: right;
        width: 252px;
        float: right;

        li > input {
          width: 50px;
          height: 30px;
        }

        li > label {
          display: inline-block;
          height: 30px;
          line-height: 30px;
          width: 40px;
          font-weight: 200;
        }

        li > a {
          border-radius: 0px;
          width: 90px;
          background-color: #2489c5;
          color: white;
          text-align: center;
        }

        li > a:hover {
          background-color: #337ab7;
        }
      }
    }

    nav:after {
      content: '.';
      display: block;
      height: 0px;
      visibility: hidden;
      clear: both;
    }
  }
}
