<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Adaptive Temporal Model for IPTV Program Recommendation</title>
  <link href="http://cdn.bootcss.com/bootstrap/3.3.4/css/bootstrap.min.css" rel="stylesheet">
  <link href='http://fonts.useso.com/css?family=Coda:400,800' rel='stylesheet' type='text/css'>
  <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/github-fork-ribbon-css/0.1.1/gh-fork-ribbon.min.css" />
  <link href="http://cdn.bootcss.com/font-awesome/4.3.0/css/font-awesome.min.css" rel="stylesheet">
  <!--[if lt IE 9]>
      <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/github-fork-ribbon-css/0.1.1/gh-fork-ribbon.ie.min.css" />
  <![endif]-->
  <link href="http://cdn.bootcss.com/normalize/3.0.3/normalize.min.css" rel="stylesheet">
  <link rel="stylesheet" href="dist/css/layout.css">
</head>
<body>
  <div class="container">
    <div class="header">
      <a href="https://github.com/erraX/iptvrecsys" target="_blank"><img style="position: absolute; top: 0; right: 0; border: 0;" src="https://camo.githubusercontent.com/e7bbb0521b397edbd5fe43e7f760759336b5e05f/68747470733a2f2f73332e616d617a6f6e6177732e636f6d2f6769746875622f726962626f6e732f666f726b6d655f72696768745f677265656e5f3030373230302e706e67" alt="Fork me on GitHub" data-canonical-src="https://s3.amazonaws.com/github/ribbons/forkme_right_green_007200.png"></a>
      <h1>IPTV RECSYS</h1>
      <h2>Adaptive Temporal Model for IPTV Program Recommendation</h2>
      <p><a href="https://github.com/erraX">Design by @erraX</a></p>
      <a href="https://www.github.com/errax" target="_blank" class="icon"><i class="fa fa-github fa-2x"></i></a>
      <a href="https://twitter.com/niminjiecide" target="_blank" class="icon"><i class="fa fa-twitter fa-2x"></i></a>
      <a href="http://weibo.com/niminjie" target="_blank" class="icon"><i class="fa fa-weibo fa-2x"></i></a>
      <div class="debug"></div>
    </div> <!-- end .header -->

    <div class="content dataset">
      <h1 class="text-uppercase">Dataset</h1>
      <ul class="nav nav-pills">
        <li class="active"><a href="#">Trainset</a></li>
        <li><a href="#">Testset</a></li>
        <li><a href="#">UserInfo</a></li>
        <li><a href="#">VideoInfo</a></li>
      </ul> <!-- end .nav.nav-pills -->
      <table>
      </table> <!-- end table -->
      <nav class="clear-focus">
        <ul class="pager">
          <li><input type="text"><label>/50</label></li>
          <li><a href="#">Go</a></li>
          <li><a href="#">Previous</a></li>
          <li><a href="#">Next</a></li>
        </ul> <!-- end .pager -->
      </nav> <!-- end nav -->
    </div> <!-- end .content.dataset -->
    <div class="content timetag">
      <h1 class="text-uppercase">splitTimetag</h1>
      <label class="query-label">User ID:</label>
      <input class="query-input" id="userid-timetag" placeholder="00034C993EDA" type="text">
      <button type="button" id="query-timetag" class="btn btn-success query-btn">Query</button>
      <div class="result row">
        <div class="beforeTag col-xs-6">
          <div id="before"></div>
        </div> <!-- end .beforeTag.col-xs-6 -->
        <div class="afterTag col-xs-6">
          <div id="after"></div>
        </div> <!-- end .afterTag.col-xs-6 -->
      </div> <!-- end .result.row -->
      <div class="result row">
        <div class="afterTag col-xs-6">
          <div id="pie"></div>
        </div> <!-- end .afterTag.col-xs-6 -->
        <div class="afterTag col-xs-6">
          <div id="final"></div>
        </div> <!-- end .afterTag.col-xs-6 -->
      </div>
    </div> <!-- end .content.timetag -->
    <div class="content comparison">
      <h1 class="text-uppercase">Experiment</h1>
      <label class="query-label">User ID:</label>
      <input class="query-input" id="userid-comparison" placeholder="00034C993EDA" type="text">
      <button type="button" id="query-comparison" class="btn btn-danger query-btn">Query</button>
      <ul class="nav nav-pills">
        <li class="active"><a href="#">Class</a></li>
        <li><a href="#">Video</a></li>
      </ul> <!-- end .nav.nav-pills -->
      <h2>User Based</h2>
      <div class="compare row">
        <div class="col-xs-6 ucf-rec-list-before">
          <h4>Before time tag</h4>
          <div class="eval">
            <span class="title">K:</span><span class="value"> </span>
            <span class="title">Hit:</span><span class="value"></span>
            <span class="title">Precision:</span><span class="value"></span>
            <span class="title">Recall:</span><span class="value"></span>
          </div> <!-- end eval -->
          <div class="ucf-before-slider slider"></div>
          <table>
          </table> <!-- end table -->
        </div> <!-- end .col-xs-6.ucf-rec-list-before -->
        <div class="col-xs-6 ucf-rec-list-after">
          <h4>After time tag</h4>
          <div class="eval">
            <span class="title">K:</span><span class="value"> </span>
            <span class="title">Hit:</span><span class="value"></span>
            <span class="title">Precision:</span><span class="value"></span>
            <span class="title">Recall:</span><span class="value"></span>
          </div> <!-- end eval -->
          <div class="ucf-after-slider slider"></div>
          <table>
          </table> <!-- end table -->
        </div> <!-- end .col-xs-6.ucf-rec-list-after -->
      </div> <!-- end .compare.row -->
      <div class="compare row">
        <div class="col-xs-6 ucf-test-list-before">
          <table>
          </table> <!-- end table -->
          <nav class="clear-focus">
            <ul class="pager">
              <li><input type="text"><label>/50</label></li>
              <li><a href="#">Go</a></li>
              <li><a href="#">Previous</a></li>
              <li><a href="#">Next</a></li>
            </ul> <!-- end .pager -->
          </nav> <!-- end nav -->
        </div> <!-- end .col-xs-6 ucf-test-list-before -->
        <div class="col-xs-6 ucf-test-list-after">
          <table>
          </table> <!-- end table -->
          <nav class="clear-focus">
            <ul class="pager">
              <li><input type="text"><label>/50</label></li>
              <li><a href="#">Go</a></li>
              <li><a href="#">Previous</a></li>
              <li><a href="#">Next</a></li>
            </ul> <!-- end .page -->
          </nav> <!-- end nav -->
        </div> <!-- end .col-xs-6 ucf-test-list-after -->
      </div>
      <h2>Item Based</h2>
      <div class="compare row">
        <div class="col-xs-6 icf-rec-list-before">
          <h4>Before time tag</h4>
          <div class="eval">
            <span class="title">K:</span><span class="value"> </span>
            <span class="title">Hit:</span><span class="value"></span>
            <span class="title">Precision:</span><span class="value"></span>
            <span class="title">Recall:</span><span class="value"></span>
          </div> <!-- end eval -->
          <div class="icf-before-slider slider"></div>
          <table>
          </table> <!-- end table -->
        </div> <!-- end .col-xs-6.icf-rec-list-before -->
        <div class="col-xs-6 icf-rec-list-after">
          <h4>After time tag</h4>
          <div class="eval">
            <span class="title">K:</span><span class="value"> </span>
            <span class="title">Hit:</span><span class="value"></span>
            <span class="title">Precision:</span><span class="value"></span>
            <span class="title">Recall:</span><span class="value"></span>
          </div> <!-- end .eval -->
          <div class="icf-after-slider slider"></div>
          <table>
          </table> <!-- end table -->
        </div> <!-- end .col-xs-6.icf-rec-list-after -->
      </div> <!-- end .compare.row -->
      <div class="compare row">
        <div class="col-xs-6 icf-test-list-before">
          <table>
          </table> <!-- end table -->
          <nav class="clear-focus">
            <ul class="pager">
              <li><input type="text"><label>/50</label></li>
              <li><a href="#">Go</a></li>
              <li><a href="#">Previous</a></li>
              <li><a href="#">Next</a></li>
            </ul> <!-- end .pager -->
          </nav> <!-- end nav -->
        </div> <!-- end .col-xs-6.icf-test-list-before -->
        <div class="col-xs-6 icf-test-list-after">
          <table>
          </table> <!-- end table -->
          <nav class="clear-focus">
            <ul class="pager">
              <li><input type="text"><label>/50</label></li>
              <li><a href="#">Go</a></li>
              <li><a href="#">Previous</a></li>
              <li><a href="#">Next</a></li>
            </ul> <!-- end .pager -->
          </nav> <!-- end nav -->
        </div> <!-- end .col-xs-6.icf-test-list-after -->
      </div> <!-- end .compare.row -->
    </div> <!-- end .content.comparison -->
    <div class="content evaluation">
      <h1 class="text-uppercase">evaluation</h1>
      <div class="evalChart videoPrecision"></div>
      <div class="videoRecall"></div>
      <div class="classPrecision"></div>
      <div class="classRecall"></div>
    </div> <!-- end .content.evaluation -->
    <!-- <div id="modal"> -->
    <!--   <div class="loading wave"> -->
    <!--     Loading -->
    <!--   </div> -->
    <!-- </div> -->
  </div> <!-- end container -->
  <script type="text/template" id="testdata-template">
    <thead>
      <tr>
        <% _.each(headers, function(header) { %>
          <% if (header !== 'hit') {%>
            <th>
                <%= header.toUpperCase() %>
            </th>
          <% } %>
        <% }); %>
      </tr>
    </thead>
    <tbody>
      <% _.each(data, function(entry) { %>
        <tr <%= entry["hit"] ? 'class="hit"': '' %>>
          <% for (key in entry) { %>
            <% if (key !== 'hit') {%>
                <td> <%= entry[key] %> </td>
              <% } %>
            <% } %>
        </tr>
      <% }); %>
    </tbody>
  </script>
  <script type="text/template" id="dataset-template">
    <thead>
      <tr>
        <% _.each(headers, function(header) { %>
          <th class="rec-header"><%= header.toUpperCase() %></th>
        <% }); %>
      </tr>
    </thead>
    <tbody>
      <% _.each(data, function(entry) { %>
        <tr>
          <% for (key in entry) { %>
            <td><%= entry[key] %></td>
            <% } %>
        </tr>
      <% }); %>
    </tbody>
  </script>
  <script src="http://cdn.bootcss.com/jquery/2.1.4/jquery.min.js"></script>
  <script src="http://cdn.bootcss.com/bootstrap/3.3.4/js/bootstrap.min.js"></script>
  <script src="dist/js/flat-ui.min.js"></script>
  <script src="http://cdn.bootcss.com/underscore.js/1.8.3/underscore.js"></script>
  <script src="http://cdn.bootcss.com/backbone.js/1.1.2/backbone-min.js"></script>
  <!-- <script src="http://code.highcharts.com/highcharts.js"></script> -->
  <script src="http://cdn.bootcss.com/highcharts/4.1.5/highcharts.js"></script>
  <script src="dist/js/logger.js"></script>
  <script src="dist/js/model.js"></script>
  <script src="dist/js/collection.js"></script>
  <script src="dist/js/view.js"></script>
  <script src="dist/js/router.js"></script>
  <script src="dist/js/app.js"></script>
</body>
</html>
