/*----TITLE: Main screen styles | AUTHOR: NIMINJIE | UPDATED: 05/30/2015 by NIMINJIE*/
a {
  width: calc(50% - 2em);
}
.ui-slider {
  position: relative;
  height: 12px;
  margin-bottom: 20px;
  cursor: pointer;
  background: #ebedef;
  border-radius: 32px;
  box-shadow: none; }

.ui-slider-handle {
  position: absolute;
  z-index: 2;
  width: 18px;
  height: 18px;
  cursor: pointer;
  background-color: #16a085;
  border-radius: 50%;
  -webkit-transition: background .25s;
  transition: background .25s; }

.ui-slider-handle:hover,
.ui-slider-handle:focus {
  background-color: #48c9b0;
  outline: none; }

.ui-slider-handle:active {
  background-color: #16a085; }

.ui-slider-range {
  position: absolute;
  z-index: 1;
  display: block;
  height: 100%;
  background-color: #1abc9c; }

.ui-slider-segment {
  width: 6px;
  height: 6px;
  background-color: #d9dbdd;
  border-radius: 50%; }

.ui-slider-value {
  float: right;
  margin-top: 12px;
  font-size: 13px; }

.ui-slider-value.first {
  float: left;
  clear: left; }

.ui-slider-horizontal .ui-slider-handle {
  top: -3px;
  margin-left: -9px; }

.ui-slider-horizontal .ui-slider-handle[style*="100"] {
  margin-left: -15px; }

.ui-slider-horizontal .ui-slider-range {
  border-radius: 30px 0 0 30px; }

.ui-slider-horizontal .ui-slider-segment {
  float: left;
  margin: 3px -6px 0 0; }

.ui-slider-vertical {
  width: 12px; }

.ui-slider-vertical .ui-slider-handle {
  top: auto;
  margin-bottom: -11px;
  margin-left: -3px; }

.ui-slider-vertical .ui-slider-range {
  bottom: 0;
  width: 100%;
  border-radius: 0 0 30px 30px; }

.ui-slider-vertical .ui-slider-segment {
  position: absolute;
  right: 3px; }

@-webkit-keyframes fade-in {
  0% {
    opacity: 0; }
  100% {
    opacity: 1; } }
@-webkit-keyframes fade-out {
  0% {
    opacity: 1; }
  100% {
    opacity: 0; } }
@-webkit-keyframes pop-in {
  0% {
    opacity: 0;
    -webkit-transform: scale(0.7);
            transform: scale(0.7); }
  100% {
    opacity: 1;
    -webkit-transform: scale(1);
            transform: scale(1); } }
@-webkit-keyframes show-icon {
  0% {
    opacity: 0;
    -webkit-transform: rotateZ(-40deg);
            transform: rotateZ(-40deg); }
  100% {
    opacity: 1;
    -webkit-transform: rotateZ(0);
            transform: rotateZ(0); } }
/* =COLOR
----------------------*/
/* =FONT
----------------------*/
/* =MIXIN
----------------------*/
/*---RESET---*/
/* =GLOBAL
----------------------*/
body {
  font-family: "Coda", cursive;
  background-color: #ebe7df; }

.stop-scrolling {
  height: 100%;
  overflow: hidden; }

.container {
  width: 1000px;
  margin: 0 auto; }

/* =HEADER
----------------------*/
.header {
  padding: 100px 0;
  border-bottom: 3px solid;
  color: #000;
  text-align: center;
  text-decoration: none; }
  .header .icon {
    opacity: 0;
    -webkit-animation: show-icon 0.5s forwards cubic-bezier(0.64, 1.87, 0.64, 0.64); }
  .header .icon:nth-child(5) {
    -webkit-animation-delay: 1s; }
  .header .icon:nth-child(6) {
    -webkit-animation-delay: 1.2s; }
  .header .icon:nth-child(7) {
    -webkit-animation-delay: 1.4s; }
  .header a {
    margin: 5px;
    color: #000; }
  .header p {
    margin: 30px;
    opacity: 0;
    font-size: 1.5em;
    -webkit-animation: pop-in 0.4s 0.6s forwards cubic-bezier(0.64, 1.87, 0.64, 0.64); }
  .header h1 {
    opacity: 0;
    font-size: 7em;
    -webkit-animation: pop-in 0.4s forwards cubic-bezier(0.64, 1.87, 0.64, 0.64); }
  .header h2 {
    opacity: 0;
    font-size: 2em;
    font-weight: 200;
    -webkit-animation: pop-in 0.4s 0.4s forwards cubic-bezier(0.64, 1.87, 0.64, 0.64); }

/* =NAV
----------------------*/
.nav-pills {
  width: 492px;
  margin: 0 auto 20px;
  border: 3px solid #ddd8ce; }
  .nav-pills li {
    line-height: 10px;
    height: 30px;
    width: 120px;
    text-align: center; }
    .nav-pills li a {
      height: 30px;
      border-radius: 0; }
      .nav-pills li a:focus, .nav-pills li a:hover {
        color: #fff;
        background-color: #2ca4bf;
        -webkit-transition: background-color .3s, color .3s;
                transition: background-color .3s, color .3s; }
  .nav-pills li.active a, .nav-pills li.active a:focus, .nav-pills li.active a:hover {
    color: #fff;
    background-color: #2ca4bf;
    -webkit-transition: background-color .3s, color .3s;
            transition: background-color .3s, color .3s; }

nav.clear-focus ul.pager {
  width: 252px;
  margin: 0;
  float: right;
  text-align: right; }
  nav.clear-focus ul.pager li input {
    width: 50px;
    height: 30px; }
  nav.clear-focus ul.pager li label {
    width: 40px;
    height: 30px;
    line-height: 30px;
    font-weight: 200;
    display: inline-block; }
  nav.clear-focus ul.pager li a {
    width: 90px;
    border-radius: 0;
    border: 0;
    color: #fff;
    background-color: #2ca4bf;
    text-align: center; }
    nav.clear-focus ul.pager li a:hover {
      background-color: #258aa1; }
nav.clear-focus:after {
  height: 0;
  display: block;
  visibility: hidden;
  content: '.';
  clear: both; }

/* =CONTENT
----------------------*/
.content {
  margin: 100px auto;
  color: #000; }
  .content h1 {
    height: 60px;
    line-height: 60px;
    margin-bottom: 50px;
    text-align: center;
    font-size: 3.5em; }
  .content h2 {
    font-size: 1.5em; }
  .content h3 {
    font-size: 1.3em; }
  .content .query-label {
    width: 50px;
    height: 30px;
    line-height: 30px;
    display: inline-block;
    font-weight: 200; }
  .content .query-input {
    height: 30px; }
  .content .query-btn {
    width: 90px;
    height: 30px;
    padding: 0;
    border-radius: 0; }

table {
  width: 970px;
  margin: 0 auto 10px;
  border: 3px solid #ddd8ce;
  text-align: center; }
  table td {
    height: 30px;
    border: 1px solid #c1c1c1; }
  table thead > tr > th {
    height: 30px;
    color: #fff;
    background-color: #2ca4bf;
    font-weight: 400;
    text-align: center; }
  table tbody > tr {
    background-color: #fff; }

.comparison {
  text-align: center; }
  .comparison h4 {
    font-size: 2em;
    margin-bottom: 20px; }
  .comparison .title {
    font-size: 1.3em;
    padding-left: 10px; }
  .comparison .value {
    font-size: 1.5em; }
  .comparison .slider {
    width: 300px;
    margin: 10px auto 30px; }
  .comparison .nav-pills {
    width: 248px;
    margin-top: 30px; }
    .comparison .nav-pills li a:focus, .comparison .nav-pills li a:hover {
      background-color: #d9534f; }
  .comparison nav ul.pager {
    width: 470px;
    margin: 0 auto; }
  .comparison nav li {
    padding-left: 5px; }
    .comparison nav li input {
      width: 50px; }
  .comparison li > a {
    color: #d9534f; }
  .comparison li.active > a, .comparison li.active > a:focus, .comparison li.active > a:hover {
    -webkit-transition: background-color .3s, color .3s;
            transition: background-color .3s, color .3s;
    color: #fff;
    background-color: #d9534f; }
  .comparison label {
    display: inline-block;
    height: 30px;
    line-height: 30px;
    width: 50px;
    font-weight: 200; }
  .comparison h2 {
    margin-top: 50px;
    font-size: 2em;
    border-bottom: 1px dotted #aaa; }
  .comparison table {
    width: 470px; }
    .comparison table thead > tr > th {
      background-color: #2ca4bf; }
    .comparison table thead > tr > th.rec-header {
      background-color: #6B8A78; }
    .comparison table tbody > tr.hit {
      background-color: #f24b6a;
      color: #fff; }
    .comparison table td {
      border: 0; }
  .comparison table.ucf > thead > tr > th {
    background-color: #695d8c; }

.timetag {
  text-align: center;
  width: 970px; }
  .timetag .result {
    margin: 20px auto;
    width: 970px; }

#modal {
  display: block;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.8);
  z-index: 999; }

.loading {
  text-transform: uppercase;
  font-family: 'Cabin Condensed', sans-serif;
  font-weight: bold;
  font-size: 100pt;
  text-align: center;
  height: 120px;
  line-height: 110px;
  vertical-align: bottom;
  position: absolute;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
      -ms-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  display: block; }

@-webkit-keyframes wave-animation {
  0% {
    background-position: 0 bottom; }
  100% {
    background-position: 200px bottom; } }

@keyframes wave-animation {
  0% {
    background-position: 0 bottom; }
  100% {
    background-position: 200px bottom; } }
@-webkit-keyframes loading-animation {
  0% {
    background-size: 200px 0px; }
  100% {
    background-size: 200px 200px; } }
@keyframes loading-animation {
  0% {
    background-size: 200px 0px; }
  100% {
    background-size: 200px 200px; } }
.wave {
  background-image: url("http://i.imgur.com/uFpLbYt.png");
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
  text-shadow: 0px 0px rgba(255, 255, 255, 0.06);
  -webkit-animation: wave-animation 1s infinite linear, loading-animation 5s infinite linear alternate;
          animation: wave-animation 1s infinite linear, loading-animation 5s infinite linear alternate;
  background-size: 200px 100px;
  background-repeat: repeat-x;
  opacity: 1; }

/* =SIDEBAR
----------------------*/
/* =FOOTER
----------------------*/
